# Node modules (install inside container)
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# Logs and temporary files
logs
*.log
*.tmp
*.swp

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment files
.env
.env.local
.env.*.local

# Build outputs (if any)
dist/
build/

# Git
.git
.gitignore


# other files
ben.traineddata
eng.traineddata